# =========================
# ENVIRONMENT
# =========================
.venv/

# =========================
# PYTHON CACHE
# =========================
__pycache__/

# =========================
# ARTIFACTS (generated)
# =========================
artifacts/

# =========================
# LOGS
# =========================
*.log

# =========================
# GRAPH OUTPUTS
# =========================
*.png
*.dot
